/* SMALL LAPTOPS024-1280 */
@media(max-width:73rem){
    /* 1170/16=52rem */
    html{
        font-size: 87.5%;
    }
}
@media(max-width:56rem){
    /* 910/16=52rem */
    /* (12*100)/16=75% */
    html{
        font-size: 75%;
    }
    .header-nav{
        padding: 1rem 3rem;
    }
    .section1-container{      
        gap: 1rem;
    }
    .section2{
        padding: 1rem 3rem;
    }
    .section2-grid{
         gap:0.5rem;
    }
    .section3{
        padding: 1rem 3rem;
    }
    .section3-grid{
        gap: 0.5rem;
    }
}
@media(max-width:48rem){
    /* 765/16= 47.6rem
    /* (10*100)/16=62.5%*/
    html{
        font-size: 62.5%;
    }
    .header-nav{
        padding: 1rem 3rem;
    }
    .section1-container{      
        gap: 1rem;
    }
    .section2{
        padding: 1rem 3rem;
    }
    .section2-grid{
         gap:0.5rem;
    }
    .section3{
        padding: 1rem 3rem;
    }
    .section3-grid{
        gap: 0.5rem;
    }
}


@media (max-width:44rem){
    /* 696/16=443.5rem*/
    html{
        font-size: 90%;
    }
    html, body{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    .header-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    
    /* Show hamburger icon */
    .menu-toggle{
        display: block;
        margin-left: auto;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .header-navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px 0;
        width: 90%;
        padding: 0.5rem 0;
        background: #ffffff;
        border-radius: 10px;
    }
    .header-navbar ul{
        padding: 0;
        margin: 0;
        text-align: center;

        flex-direction: column;
        gap: 1rem;
    }
    .header-nav ul li{
        margin: 0;
    }
    .invite1-btn{
        display: none;
    }
     /* Show menu when active */
    .header-navbar.active{
        display: block;
    }

    /*Section one*/
    .section1{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background: linear-gradient(to bottom, #acaaaa, #ffffff);
    }
    .section1-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .section1-container-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
        margin-top: 40px;
    }
    .section1-container-left h1{
        font-size: 1.8rem;
    }
    .section1-container-left p{
        font-size: 1.5rem;
    }
    .section1-container-left button{
        font-size: 1.1rem;
    }
    .section1-container-right{
        height: 320px;
        margin-top: 2rem;
    }
    .intro-image1 {
        position: relative;
        width: 100%;
        right: 0;
    }
    .intro-image2 {
        position: absolute;
        width: 90%;
  }

 /*SECTION TWO MOBILE RESPONSIVE*/
    .section2{
        padding: 1.5rem;
        flex-direction: column;
        align-items: center;
    }

    .section2-grid{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .section2-container {
        
        display: flex;
        flex-direction: column;   /* stack items vertically */
        align-items: center;      /* center horizontally */
        text-align: center;       /* center text */
        gap: 0;                /* space between items */
    }

    .section2-images {
        width: 55px;              /* optional: control icon size */
        height: auto;
    }
    .section2-container h3 {
        font-size: 1.2rem;
    }
    .section2-container p {
        font-size: 1rem;
    }

/*SECTION THREE MOBILE RESPONSIVE*/
.section3{
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
}
.section3-grid{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .article{
    text-align: center;
  }
  .article-text{
    padding:0 1.8rem ;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  /*FOOTER*/
  .bank-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:0.5rem;
  }
  .footer-icons{
    display: flex;
    gap: 1rem;
  }
  .footer-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }
}  
