/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */

        /*------------
        Header section
        -------------*/
/* left header part */
@media (max-width: 575px) {
  .checkout-header-left-section {
    width: auto;
  }

  .nthigaHub-logo {
    display: none;
  }

  .nthigaHub-mobile-logo {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }
}

/* Middle header part */
@media (max-width: 1000px) {
  .checkout-header-middle-section {
    font-size: 20px;
    margin-right: 60px;
  }

  .return-to-home-link {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .checkout-header-middle-section {
    margin-right: 5px;
  }
}

/* Right header part */
@media (max-width: 1000px) {
  .checkout-header-right-section {
    width: auto;
  }
}